* {
    padding:0;
    margin: 0;
    list-style: none;
    box-sizing:border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.nav {
    background-color: darkgreen;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 20px;
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

label.logo a{
    text-decoration:none;
    color:white;
}

.nav-links a:hover {
    background: green;
    transition: 0.5s;
}

.content-container {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 100px);
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    overflow: hidden;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}