{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Welcome to CoManager,</h1>
        <br>
        <br>
        <h4>
            To enjoy this app you may start using it, without any authentication,
            by clicking on the buttons on the navbar above, each button is related
            in some way to the competition, try it out!
        </h4>
    </div>
    <div class="content">
        <img src="{{ asset('trophy.png') }}" alt="Trophy">
    </div>
{% endblock %}
